<div class="ui items">
  <product-row 
    *ngFor="let myProduct of productList" 
    [product]="myProduct" 
    (click)='clicked(myProduct)'
    [class.selected]="isSelected(myProduct)">
  </product-row>
</div>