<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title: </label>
    <input name="title" #newTitle />
  </div>
  <div class="field">
    <label for="link">Link: </label>
    <input name="link" #newLink />
  </div>

  <!-- added this button -->
  <button (click)="addArticle(newTitle, newLink)" class="ui positive right floated button">
    Submit link
  </button>

  <!-- added article component -->
  <!--<div class="ui grid posts">
    <app-article>
    </app-article>
  </div>-->

  <!-- start adding here -->
  <div class="ui grid posts">
    <app-article *ngFor="let foobar of sortedArticles()" [article]="foobar"></app-article>
  </div>
  <!-- end adding here -->
</form>
